body {
    height: 920px;
    width: 1900px;
    background-color: green;
}
.box {
    height: 85px;
    width: 300px;
    background: url(../img/l.png) bottom right / 50px repeat-x;
    padding-right: 1600px;
}
.grass {
    height: 90px;
    width: 300px;
    background: url(../img/g.png) bottom right / 200px repeat-x;
    padding-right: 1600px;
}
.lol {
    height: 752px;
    width: 80px;
    background: url(../img/5.png) bottom left / 50px repeat-y,
                url(../img/6.png)bottom right / 50px repeat-y;
                width: 1700px;
padding-left: 200px;
}